@import "colors";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'raleway';
    color: $fontcolor;
}

/* index */
#grid_index {
    display: grid;
    grid-template-areas:
        "header"
        "principal"
        "footer";
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $fondo;
}

.logo {
    width: 125px;
}

.navbar {
    list-style-type: none;
    font-size: 20px;
    
}

.navbar__hlink {
    text-decoration: none;
    color: $fontcolor;
    padding: 5px 5px 5px 5px;
    margin-top: 1px;
    
}

.navbar__seccion {
    display: inline;
    
}

.navbar__hlink:hover {
    background: #12caca;
    border-radius: 7px;
}

main {
    grid-area: principal;
}

.main_principal {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    min-height: 100vh;
    position: relative;
    background-color:  $fondo;
}

main .textos_main_principal {
    display: flex;
    width: 100%;
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color:  $fondo;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;

}

main .boton_main_principal {
    text-decoration: none;
    color: $fontcolor;
    padding: 5px 5px 5px 5px;
    margin-top: 1px;
}

.boton_main_principal:hover {
    background: $fondohover;
    border: 2px solid $fondohover;
    border-radius: 5px;
    animation: seleccion 2s infinite;

}

@keyframes seleccion {
    0% {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

@media (max-width: 474px) {
    #grid_index {
      grid-template-areas:
        "header"
        "principal principal principal"
        "footer footer";
    }
  
    .logo{
      width: 50px;
    }
    .navbar {
      flex-direction: row;
      gap: 30px;
      font-size: 10px; 
    }
    .textos_main_principal{
      font-size: 12px;
    }
  }
  
  @media screen and (min-width: 475px) and (max-width:1000px) {
    header {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .logo{
      width: 100px;
    }
    .navbar {
      font-size: 20px;
    }
    .textos_main_principal{
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1001px){
    
    .logo{
      width: 125px;
    }
  
    .textos_main_principal{
      font-size: 35px;
    }
  }

footer {
    grid-area: footer;

    #footer {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: sans-serif;
        letter-spacing: 0.03em;
        line-height: 1.6;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        background-color: $fontcolor;
    }

    .contendor_footer_datos {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        letter-spacing: 0.03em;
        line-height: 1.5;
        margin-top: 2em;
        padding-top: 10px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }

    .redes {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


@media (max-width: 480px) {
    #footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contendor_footer_datos {
        font-size: 10px;
    }
}

/* quienes_somos */
.textos_quienes_somos {
    display: flex;
    width: 100%;
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color:  $fondo;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;

    h1 {
        font-size: 50px;
        color: rgb(4, 27, 46);
        text-shadow: 1px 1px 1px rgb(55, 73, 77);
        text-align: center;
    }

}

.quienes_somos {
    margin-top: 50px;
    display: inline-block;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 45px;
        color: $hoverlinks;
        text-align: center;
    }

    h2 {
        font-size: 40px;
        color: black;
    }

    h3 {
        font-size: 25px;
        color: $hoverlinks;
        text-align: center;
    }

    h4 {
        font-size: 30px;
        color: rgb(6, 55, 95);
        text-align: center;
    }

    h4:hover {
        color: $hoverlinks;
        text-shadow: 1px 1px 1px rgb(11, 88, 151);
        transition: translate(10px, 10px);
    }
}

@media (max-width: 474px) {

    .textos_quienes_somos h1 {
        font-size: 35px;
    }

    .quienes_somos {

        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }
    }

}

@media screen and (min-width: 475px) and (max-width:1000px) {

    .textos_quienes_somos h1 {
        font-size: 40px;
    }

    .quienes_somos {

        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 23px;
        }
    }

}

/* contacto */
.formulario {
    background-color: aquamarine;

}

.formulario input {
    height: 30px;
    margin: 0.5rem;
    align-content: center;

}

@media (max-width: 474px) {

    .formulario {
        width: auto;
        padding-left: 20px;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        font-size: 10px;

        h4 {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 475px) and (max-width:1000px) {
    .formulario {
        width: auto;
        padding-left: 20px;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        font-size: 20px;

        h4 {
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 1001px) {
    .formulario {
        width: auto;
        padding-left: 20px;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        font-size: 20px;

        h4 {
            font-size: 30px;
        }
    }
}

/* productos */
.textos_productos {
    margin-top: 50px;
    display: inline-block;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        font-size: 40px;
        color: black;
    }

    h3 {
        font-size: 30px;
        color: rgb(4, 27, 46);
        text-shadow: 1px 1px 1px rgb(55, 73, 77);
        text-align: center;
    }
}


#productos {
    grid-area: productos;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background-color:  $fondo
}

.productos_titulo {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.productos_titulo:hover {
    background: $fondohover;
    border: 2px solid $fondohover;
    border-radius: 5px;
    animation: seleccion 2s infinite;

}

.productos_contenedor {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productos_card {
    background-color: #9cf0f0;
    padding: 1%;
}

.productos_contenedor .productos_card {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;

    img {
        width: 220px;
        height: 220px;
        border-radius: 10px;
    }

    h4 {
        font-weight: 600;
    }

    p {
        padding: 0.1rem;
        font-size: 16px;
        font-weight: 300;
    }

}

.productos_contenedor .productos_card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 10px #053b3b;
    transition: all 0.45s;
}

@media (max-width: 474px) {
    .textos_productos h2 {
        font-size: 30px;
    }

    .textos_productos h3 {
        font-size: 20px;
    }

    .productos_titulo {
        font-size: 15px;
    }
}

@media screen and (min-width: 475px) and (max-width:1000px) {
    .textos_productos h2 {
        font-size: 32px;
    }

    .textos_productos h3 {
        font-size: 22px;
    }

    .productos_titulo {
        font-size: 20px;
    }
}

/* mayoristas */
.textos_mayoristas {
    display: flex;
    width: 100%;
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: #B9FFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;

    h1 {
        font-size: 50px;
        color: $hoverlinks;
        text-shadow: 1px 1px 1px rgb(55, 73, 77);
        text-align: center;
    }
}

.mayoristas {
    margin-top: 50px;
    display: inline-block;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 45px;
        color: rgb(4, 27, 46);
        text-align: center;
    }

    h2 {
        font-size: 25px;
        color: black;
    }

    a {
        font-size: 25px;
        color: $hoverlinks;
        text-decoration: none;
    }

    a:hover {
        color: $hoverlinks;
        text-shadow: 1px 1px 1px rgb(11, 88, 151);
        transition: translate(10px, 10px);
    }
}

@media (max-width: 474px) {

    .textos_mayoristas h1 {
        font-size: 35px;
    }

    .mayoristas h2 {
        font-size: 20px;
    }

    .mayoristas a {
        font-size: 20px;
    }
}

@media screen and (min-width: 475px) and (max-width:1000px) {

    .textos_mayoristas h1 {
        font-size: 40px;
    }

    .mayoristas h2 {
        font-size: 20px;
    }

    .mayoristas a {
        font-size: 20px;
    }
}